$white: #FFFFFF;
$white-light: #F3F3F3;
$light-green: #388D46;
$green: #1B4D3E;
$font-black: #0E0D12;
$font-green: $green;
$font-light-green: $light-green;
$font-grey: #535353;
$font-white: $white;
$font-light: #EAEAEA;
$font-gray: #535353;