.custom-select-container {
  position: relative;
  box-sizing: border-box;
  min-width: 91px;
  height: 54px;
  font-size: 16px;
  font-weight: 700;
}
.custom-select-container * {
  box-sizing: border-box;
}
.custom-select-container.is-disabled {
  opacity: .333;
}
.custom-select-opener {
  background-color: $white;
  padding: 12px 24px;
  height: 100%;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:after {
    content: '';
    display: block;
    width: 11px;
    height: 6px;
    background-image: url('../img/select-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .2s;
  }
}

.custom-select-container.is-open .custom-select-opener:after {
  transform: rotate(180deg);
}

.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-select-panel {
  max-height: 0;
  transition: max-height .3s ease-out, overflow-y 0.1s 0.5s;
  overflow: hidden;
  background-color: $white;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
}
.custom-select-container.is-open .custom-select-panel {
  max-height: 10.7em;
  overflow-y: auto
}
.custom-select-option {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.custom-select-option.has-focus {
  background-color: #888;
}
.custom-select-option.is-selected {
  display: none;
}
.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}

@media screen and (max-width: 1100px) {
  .custom-select-container {
    height: 36px;
    min-width: 56px;
    font-size: 12px;
  }
  .custom-select-opener {
    padding: 10px 14px;

    &:after {
      width: 7px;
      height: 4px;
    }
  }

  .custom-select-option {
    padding: 10px 14px;
  }
}