@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

@import 'reset';
@import 'constants';

@import 'custom-select';
@import 'typography';
@import 'btns';

* {
  font-family: 'Manrope';
}

body {
  padding-top: 90px;
  
  &.fixed {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 77px;
}

.nav-link {
  font-weight: 700;
  font-size: 14px;
  color: $font-black;
  text-decoration: none;

  &:hover {
    color: $font-light-green;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.40);
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform: scale(0);

  &.active {
    transform: scale(1);
  }
}

.form-modal {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  background-color: $green;
  padding: 50px;
  width: 100%;
  max-width: 726px;
  max-height: 100%;
  overflow: scroll;

  &__title {
    margin-bottom: 32px;
  }

  .close {
    background-color: $white;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;

    svg path {
      transition: .2s;
    }

    &:hover {
      background-color: $light-green;

      svg path {
        fill: $white;
      }
    }
  }

  &.active {
    transform: scale(1) translate(-50%, -50%);
  }

  .contact-us__form {
    width: unset;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1100px) {
  body {
    padding-top: 72px;
  }
}

@media screen and (max-width: 720px) {
  body {
    padding-top: 60px;
  }

  .form-modal {
    padding: 20px;
    height: 100vh;
    max-width: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close {
      width: 34px;
      height: 34px;
      top: 8px;
      right: 8px;

      svg {
        width: 14.5px;
        height: 14.5px;
      }
    }
  }
}

@import 'components/header';
@import 'components/hero';
@import 'components/about';
@import 'components/products';
@import 'components/services';
@import 'components/pros';
@import 'components/cert';
@import 'components/contact-us';
@import 'components/map';
@import 'components/footer';