.contact-us {
  background-color: $green;
  &__inner {
    padding: 72px 0  52px;

    &>.title-label {
      margin-bottom: 24px;
    }

    &>.title {
      margin-bottom: 44px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: -77px;
  }

  &__form {
    max-width: 626px;
    align-self: flex-start;

    &>.btn {
      width: 100%;
      background-color: #DDEDED;
      color: $font-black;
      justify-content: space-between;

      &:hover {
        color: $white;

        .arrow:after {
          transform: scale(3500%) !important;
        }
      }
    }

    .custom-select-container {
      height: 52px;
      min-width: 123px;
    }

    .custom-select-opener {
      padding: 12px 14px;
    }

    .custom-select-option {
      padding: 12px 14px;
    }
  }

  input:not([type='checkbox']), textarea {
    border: none;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    color: $font-gray;
    font-size: 16px;
    font-weight: 700;
    outline: none;
  }

  .row {
    display: flex;
    gap: 18px;
    margin-bottom: 18px;

    &>* {
      width: 50%;
    }
  }

  .phone {
    display: flex;
    gap: 10px;
    margin-bottom: 22px;

    input {
      flex-grow: 1;
    }
  }

  .product-type {
    margin-bottom: 22px;

    &__title {
      color: $white;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }

    &__item {
      display: inline-flex;
      cursor: pointer;
    }

    .input {
      position: absolute;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .check {
      padding: 10px 22px;
      height: 39px;
      display: flex;
      align-items: center;
      overflow: hidden;
      background-color: transparent;
      border: 1px solid $white-light;
      color: $white-light;
      font-size: 14px;
      font-weight: 500;
    }

    .input:checked + .check {
      background-color: $white;
      color: $font-black;
      -webkit-text-stroke: .6px $font-black;
    }
  }

  .message {
    margin-bottom: 32px;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
  }
}

@media screen and (max-width: 1200px) {
  .contact-us {
    &__img {
      margin-right: -20px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .contact-us {
    &__form {
      width: 60%;
    }
    .btn {
      height: 52px;
      font-size: 14px;

      &:hover .arrow:after {
        transform: scale(10000%) !important;
      }
    }

    &__img {
      width: 40%;
    }
  }
}

@media screen and (max-width: 720px) {
  .contact-us {

    &__inner {
      padding: 30px 0;

      &>.title-label {
        margin-bottom: 8px;
      }

      &>.title {
        margin-bottom: 22px;
      }
    }

    &__img {
      display: none;
    }

    &__form {
      width: 100%;
      max-width: unset;
    }
  }
}

@media screen and (max-width: 440px) {
  .contact-us {
    &__form {
      .custom-select-container {
        height: 43px;
        min-width: 104px;
        font-size: 14px;
      }
  
      .custom-select-opener {
        padding: 12px;
        align-items: center;

        img {
          width: 22px;
          height: 22px;
        }
      }
  
      .custom-select-option {
        padding: 12px;
        width: 22px;
        height: 22px;
        align-items: center;
      }
    }

    .row {
      flex-direction: column;
      gap: 14px;
      margin-bottom: 14px;

      &>* {
        width: 100%;
      }
    }

    .phone {
      margin-bottom: 20px;
      gap: 10px;

      input {
        width: 100%;
      }
    }

    input:not([type='checkbox']), textarea {
      padding: 12px;
      height: 43px;
      font-size: 14px;
    }

    .message {
      margin-bottom: 16px;
    }

    .product-type {
      margin-bottom: 20px;
      
      &__title {
        margin-bottom: 20px;
      }

      &__list {
        row-gap: 12px;
        column-gap: 14px;
      }

      &__item {
        .check {
          padding: 8px 16px;
          font-size: 12px;
        }
      }
    }
  }
}

