.products {
  margin-bottom: 144px;
  &__inner {
    padding-top: 72px;
    display: flex;flex-direction: column;

    &>.title-label {
      align-self: flex-start;
      margin-bottom: 8px;
    }
  }

  &__head {
    display: flex;
    align-items: flex-start;
    gap: clamp(32px, 5.278vw, 76px);
    margin-bottom: 30px;
    
    &>*:first-child {
      width: 60%;
      max-width: 660px;
    }

    &>*:last-child {
      width: 40%;
      max-width: 474px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(18px, 2.361vw, 34px);
    margin-bottom: 56px;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  width: 100%;
  max-height: 285px;
  max-width: 626px;
  background-color: $font-light;

  &>* {
    &:first-child {
      width: 60%;
    }

    &:nth-child(2) {
      width: 40%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
    padding: clamp(12px, 2.361vw, 34px);
    padding-right: unset;
  }

  &__img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 250px;
    img {
      max-height: 100%;
    }
  }
}

.special {
  padding-top: 45px;
  &__inner {
    display: flex;
    justify-content: space-between;
    background-color: #DDEDED;
    column-gap: 22px;
  }

  &__info {
    padding: clamp(12px, 2.361vw, 34px);
    padding-right: unset;
    max-width: 606px;
    width: 45%;

    .title {
      margin-bottom: 18px;
    }

    .subtitle {
      margin-bottom: 36px;
    }
  }

  &__img {
    margin-top: -45px;
    display: flex;
    align-items: flex-end;
  }
}

.product-modal {
  position: fixed;
  bottom: -120%;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background-color: #EBEBEB;
  overflow: auto;
  transition: all .3s;

  &.active {
    bottom: 0;
  }

  .close {
    position: absolute;
    top: 32px;
    right: -45px;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    transition: all .3s;
    cursor: pointer;

    svg path {
      transition: all .3s;
    }

    &:hover {
      background-color: $light-green;

      svg path {
        fill: $white;
      }
    }
  }

  &__inner {
    position: relative;
    width: calc(100% - 154px);
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    align-self: center;
    max-width: 626px;
    width: 50%;
    margin-right: 34px;
    padding: 60px 0;

    .title {
      margin-bottom: 32px;
    }

    .text {
      margin-bottom: 32px;
    }

    .btn {
      margin-top: 32px;
    }
  }

  &__img {
    margin-right: -77px;
    width: 60%;
    max-width: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 1200px) {
  .product-modal {
    &__inner {
      width: calc(100% - 40px);
    }

    &__img {
      margin-right: -20px;
    }

    .close {
      top: 20px;
      right: 0;
    }
  }
}

@media screen and (max-width: 1100px) {
  .products {
    margin-bottom: 100px;
    &__list {
      margin-bottom: 20px;
    }
  }
  .special {
    &__info {
      width: 60%;
    }

    &__img {
      width: 40%;
      margin-top: unset;
      align-items: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .product-modal {
    &__inner {
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      row-gap: 16px;
    }

    &__info {
      width: 100%;
      max-width: unset;
      margin-right: unset;
      margin: auto 0;
    }

    &__img {
      width: calc(100% + 40px);
      max-width: unset;
      margin-right: unset;
      max-height: 400px;
    }
  }
}

@media screen and (max-width: 720px) {
  .products {
    margin-bottom: 60px;
    &__inner {
      padding: 30px 0 12px 0;

      &>.title-label {
        margin-bottom: 8px;
      }
    }

    &__head {
      flex-direction: column;
      gap: 12px;
      margin-bottom: 22px;

      &>*:first-child {
        width: 100%;
        max-width: unset;
      }

      &>*:last-child {
        width: 98%;
        max-width: unset;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: clamp(12px, 2.361vw, 34px);
      margin-bottom: 12px;
    }
  }

  .special {
    padding-top: unset;
    &__info {
      .title {
        margin-bottom: 6px;
      }

      .subtitle {
        margin-bottom: 12px;
      }
    }
  }

  .product {
    max-width: unset;
    max-height: 180px;
  }

  .product-modal {
    overflow: scroll;

    &__inner {
      padding-top: unset;
    }

    &__info {
      padding: 30px 0 12px 0;
    }

    &__img {
      min-height: 350px;
    }

    .close {
      width: 34px;
      height: 34px;
      top: 8px;
      right: -12px;

      svg {
        width: 14.5px;
        height: 14.5px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .special {
    &__inner {
      flex-direction: column-reverse;
      row-gap: 12px;
    }
    
    &__info {
      padding: 12px;
      padding-top: unset;
      width: 100%;
    }

    &__img {
      align-self: center;
      width: 100%;
      max-width: 234px;
      padding: 12px !important;
      padding-bottom: unset;
    }
  }
}